* {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

body {
	margin: 0;
}

a {
	color: inherit;
}

fieldset {
	min-height: 5em;

	display: flex;
	justify-content: stretch;
	align-items: center;
}

.slider-wrapper {
	display: grid;
	grid-template-columns: 1fr 7ch;

	align-items: center;

	.value-display {
		text-align: center;
	}
}
.radio-wrapper {
	flex-direction: column;
	align-items: flex-start;

	.radioRow {

	}
}
.checkbox-wrapper {

}
.number-wrapper {

}

.col-span-2 {
	grid-row: auto / span 2;
}
