* {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

body {
	margin: 0;
}

a {
	color: inherit;
}

.fieldset-content {
	display: flex;
	justify-content: stretch;
	align-items: center;

	min-height: 2.5em;
}
.checkbox-wrapper {

}
.number-wrapper {

}

.col-span-2 {
	grid-row: auto / span 2;
}

.row-span-2 {
	grid-column: auto / span 2;
}
