@use "/src/assets/styles/_theme.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

:root {
	color: white;
	font-family: Roboto, sans-serif;
}

input, button {
	color: white;
}

body {
	margin: 0;
	background: theme.$body-bg;
}

a {
	color: inherit;
}

.material-symbols-outlined {
	user-select: none;
}

.cs {
	--bg-color: #{theme.$critical-success};
}
.s {
	--bg-color: #{theme.$success};
}
.f {
	--bg-color: #{theme.$failure};
}
.cf {
	--bg-color: #{theme.$critical-failure};
}

input[type=number] {
	font-size: 1em;
	outline: none;
	appearance: textfield;
	text-align: center;
	border: none;

	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		display: none;
	}
}
