$highlight-color: dodgerblue;

$body-bg: #111111;
$block-bg: #222222;

$header-bg: #333333;
$subheader-bg: #282828;

$input-bg: #333333;
$input-bg-active: #444444;

$button-bg: #282828;
$button-bg-active: #383838;

$critical-success: dodgerblue;
$success: green;
$failure: orange;
$critical-failure: red;